.delivery-slip-header {
  width: 100% !important;
  font-size: 14px !important;
  margin-bottom: 15px !important;

  tbody tr td {
    padding: 5px !important;
  }

  .partner-column {
    border: 1px solid black !important;
    width: 25% !important;
    font-size: 12px !important;
  }

  .order-column,
  .delivery-column,
  .date-column {
    width: 25% !important;
    vertical-align: bottom !important;
    text-align: left !important;
  }

  .date-column {
    text-align: right !important;
  }
}

.delivery-slip-body {
  width: 100% !important;
  font-size: 14px !important;
  margin-bottom: 15px !important;

  tbody tr:first-child {
    text-align: center;
  }

  tbody tr td {
    border: 1px solid black !important;
    padding: 2px !important;
  }
}

.delivery-slip-footer {
  width: 100% !important;
  font-size: 14px !important;

  tbody tr td {
    padding-top: 10px !important;
  }

  tbody tr td:nth-child(odd) {
    width: 40% !important;
    border-bottom: 1px solid !important;
  }

  tbody tr td:nth-child(even) {
    width: 10% !important;
  }
}

.first-table {
  height: 145mm !important;
}

.second-table {
  margin-top: 30mm !important;
}