.o_sale_order_header {
  background-color: #f07c4d !important;
  padding: 15px 15px 5px 15px !important;
  border-radius: 3px !important;
  color: white !important;
  margin-bottom: 10px !important;

  img {
    max-width: 300px !important;
  }

  .social-media {
    margin-top: 5px !important;
    padding: 5px !important;
    font-size: 12px !important;
  }

  a {
    text-decoration: none !important;
    color: white !important;
  }

  .col-5 {
    font-size: 18px !important;
    font-weight: bold !important;
  }

}

.o_sale_order_footer {
  border-top: 2px solid gray !important;
}

.o_report_layout_sale_order {

  .partner_name {
    font-size: 25px !important;
    color: #f07c4d !important;
  }

  .table_header td {
    padding: 0.2rem !important;
  }

  .partner_address {
    font-size: 12px !important;
  }

  .project_title {
    display: inline-block;
    padding: 5px !important;
    border-radius: 2px !important;
    background-color: #f07c4d !important;
    color: white !important;
  }

  .table_head th {
    background-color: #f07c4d !important;
    color: white;
    i {
      margin-right: 3px !important;
      font-size: 13px !important;
    }
  }
  .table_body td{
    font-size: 12px !important;
  }
  .table_total td{
    padding: 0.2rem !important;
  }
}