.payment-slip-header {
  width: 100% !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;

  tbody tr td {
    padding: 5px !important;
  }

  .partner-column {
    border: 1px solid black !important;
    width: 25% !important;
    font-size: 12px !important;
  }

  .payment-column, .date-column {
    width: 25% !important;
    vertical-align: bottom !important;
    text-align: right !important;
  }
}

.payment-slip-body {
  width: 100% !important;
  font-size: 14px !important;
  margin-bottom: 15px !important;

  tbody tr:first-child {
    border-bottom: 1px solid black !important;
  }

  tbody tr:nth-child(2), tbody tr:nth-child(3) {
    border-bottom: 1px dotted black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
  }

  tbody tr:last-child {
    border-bottom: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    height: 50px !important;
  }

  tbody tr td {
    padding: 2px !important;
  }
}

.payment-slip-footer {
  width: 100% !important;
  font-size: 14px !important;

  tbody tr:last-child td:last-child {
    border-bottom: 1px solid black !important;
  }
}

.invoice-header {
  width: 100% !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;

  .partner-column {
    border: 1px solid black !important;
    font-size: 12px !important;
  }

  .invoice-column,
  .order-column,
  .date-column {
    vertical-align: bottom !important;
    text-align: right !important;
  }
}

.invoice-body {
  width: 100% !important;
  font-size: 12px !important;

  tbody tr td {
    padding: 2px !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
  }
  .border-top-gray{
    border-top: 1px solid gray('200') !important;
  }
  .border-top-black{
    border-top: 1px solid black !important;
  }
  .border-bottom-black{
    border-bottom: 1px solid black !important;
  }

  tbody tr:first-child td {
    text-align: center !important;
    font-weight: bold !important;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
  }
  .custom-underline{
    min-width: 100px !important;
    height: 12px !important;
    border-bottom: 1px dotted black !important;
  }
}
