.o_report_layout_customer_statement {
  .table th, .table td {
    padding: 3px !important;
    border-bottom: 1px solid gray !important;
  }
}

.o_customer_statement_header{
  border-bottom: 1px solid gray('200');
    img {
      max-width: 150px !important;
    }
}

.o_customer_statement_footer {
    margin-top: 200px;
    white-space: nowrap;
    border-top: 1px solid gray('200');
    ul {
        margin: 4px 0;
    }
}